---
import PrimaryButton from "../Buttons/PrimaryButton.astro";

export interface Props {
    placeholder: string;
    submitMessage: string;
    action: string;
    name: string;
}

const { action, placeholder, submitMessage, name } = Astro.props as Props;

const labelId = "cta-email-" + Math.random();
---

<form action={action} name={name}
    class="max-w-[27.8125rem] w-full flex flex-col gap-4 sm:flex-row sm:bg-white-link-water sm:gap-0 sm:rounded-full sm:focus-within:outline-pink-dark/50 sm:focus-within:outline outline-pink-dark sm:focus-within:outline-2">
    <label class="sr-only" for={labelId}>{placeholder}</label>
    <input
        class="min-h-[3rem] sm:flex-grow px-7 py-2 text-15 bg-white-link-water text-blue-sj placeholder:text-blue-sj/50 enabled:motion-safe:transition-colors enabled:motion-safe:ease-in-out disabled:opacity-50 -tracking-12 font-bold rounded-full focus-visible:outline-pink-dark/50 focus-visible:outline focus-visible:outline-2 sm:focus-visible:outline-0"
        id={labelId} type="email" placeholder={placeholder} required>

    <PrimaryButton>{submitMessage}</PrimaryButton>
</form>

<style lang="postcss">
    :root {
        --cta-field-shadow: 0.625rem 0.625rem 1.5625rem -0.625rem theme("colors.blue.sj" / 75%);
    }

    input[type="email"] {
        box-shadow: var(--cta-field-shadow);
    }

    @media screen(sm) {
        form {
            box-shadow: var(--cta-field-shadow);
        }

        input[type="email"] {
            box-shadow: none;
            border-radius: 100vw 0 0 100vw;
        }
    }
</style>